@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Space Mono", monospace;
  background: hsl(185, 41%, 84%);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

button {
  font-family: inherit;
}

main {
  display: block;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.063rem;
  height: 0.063rem;
  padding: 0;
  margin: -0.063rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  grid-area: none;
}

.container {
  min-height: 100dvh;
}
@media (min-width: 48rem) {
  .container {
    padding: 0 5rem 5rem;
  }
}

.logo {
  margin: 0 auto;
  padding-top: 3.125rem;
}
@media (min-width: 80rem) {
  .logo {
    padding-top: 10.188rem;
  }
}

.tipButton {
  background: hsl(183, 100%, 15%);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.313rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0;
  cursor: pointer;
}
.tipButton.selected {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
@media (min-width: 80rem) {
  .tipButton:hover {
    background: hsl(173, 61%, 77%);
    color: hsl(183, 100%, 15%);
  }
}

.resetButton {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0;
  padding: 0.5rem 0;
  border-radius: 0.313rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 80rem) {
  .resetButton:hover {
    background: hsl(173, 61%, 77%);
  }
}
.resetButton:disabled {
  background: hsl(183, 79%, 24%);
}

.resultsCard {
  background: hsl(183, 100%, 15%);
  border-radius: 0.938rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 80rem) {
  .resultsCard {
    width: 50%;
    gap: 8rem;
    padding: 2.344rem 2.5rem;
  }
}
.resultsCard__top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.resultsCard__top > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resultsCard__top > div h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: white;
}
.resultsCard__top > div span {
  font-size: 0.813rem;
  font-weight: 700;
  line-height: 1.188rem;
  letter-spacing: 0;
  color: hsl(184, 14%, 56%);
}
.resultsCard__top > div strong {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.938rem;
  letter-spacing: -0.042rem;
  color: hsl(172, 67%, 45%);
}
@media (min-width: 48rem) {
  .resultsCard__top > div strong {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.438rem;
    letter-spacing: -0.063rem;
  }
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.formInput.error div span {
  display: block;
}
.formInput.error input:focus {
  outline: none;
}
.formInput.error input {
  border: 2px solid hsl(13, 70%, 60%);
}
.formInput div {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0;
}
.formInput div label {
  color: hsl(186, 14%, 43%);
}
.formInput div span {
  display: none;
  color: hsl(13, 70%, 60%);
}
.formInput input {
  font-family: "Space Mono", monospace;
  border: none;
  border-radius: 0.313rem;
  background: hsl(189, 47%, 97%) no-repeat 1rem;
  padding: 0.5rem 1rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0;
  color: hsl(183, 100%, 15%);
}
.formInput input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}
.formInput input::-moz-placeholder {
  color: hsl(184, 19%, 68%);
}
.formInput input::placeholder {
  color: hsl(184, 19%, 68%);
}
.formInput input::-webkit-outer-spin-button, .formInput input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
.formInput #bill {
  background-image: url("../images/icon-dollar.svg");
}
.formInput #billPeople {
  background-image: url("../images/icon-person.svg");
}

.calculator {
  background: white;
  min-height: 100dvh;
  margin-top: 2.563rem;
  padding: 2rem 1.5rem;
  border-radius: 1.563rem 1.563rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 48rem) {
  .calculator {
    min-height: auto;
    padding: 3rem 5rem;
    border-radius: 1.563rem;
    gap: 2.5rem;
  }
}
@media (min-width: 80rem) {
  .calculator {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    max-width: 57.5rem;
    margin: 5rem auto;
  }
}
.calculator__bill {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 48rem) {
  .calculator__bill {
    gap: 1.5rem;
  }
}
@media (min-width: 80rem) {
  .calculator__bill {
    width: 50%;
    gap: 2.5rem;
  }
}
.calculator__bill-tipOptions h2 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: hsl(186, 14%, 43%);
  margin-bottom: 0.5rem;
}
.calculator__bill-tipOptions ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 48rem) {
  .calculator__bill-tipOptions ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
.calculator__bill-tipOptions ul #customTip {
  width: 100%;
  border: none;
  font-family: "Space Mono", monospace;
  border-radius: 0.313rem;
  color: hsl(183, 100%, 15%);
  padding: 0.5rem 1rem;
  background: hsl(189, 47%, 97%) no-repeat 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0;
}
.calculator__bill-tipOptions ul #customTip:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}
.calculator__bill-tipOptions ul #customTip::-moz-placeholder {
  color: hsl(180, 18%, 40%);
}
.calculator__bill-tipOptions ul #customTip::placeholder {
  color: hsl(180, 18%, 40%);
}
.calculator__bill-tipOptions ul #customTip::-webkit-outer-spin-button, .calculator__bill-tipOptions ul #customTip::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

footer {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}
footer a {
  color: hsl(183, 100%, 15%);
}